.rightside {
    position: relative;
    flex: 70%;
    max-width: 70%;
    background: rgb(196, 194, 194);
}

.container {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.title {
    text-align: center;
}

.text {
    text-align: center;
}
