@mixin placeholder {
    &::placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

.form-group {
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}

.form-input {
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    flex-grow: 1;

    &:hover {
        border-bottom: 1px solid #ed4c67;
    }

    @include placeholder {
        color: white;
        opacity: 1;
    }
}

.faEye-icon {
    color: #fff;
    padding-top: 5px;
    padding-right: 3px;
    cursor: pointer;
}
